<div class="about-us_wrapper
            add_flex__nowrap
            flex_jcontent_start
            flex__align-items_start">

  <h2 class="section_title">About <span>Us</span></h2>

  <div class="section_content">
      MTC(Maita Travel Club) - the new  Innovation Travel Program
      is a travel agency that market its own inventory . Our team works round the clock to deliver excellent customer service and good results driven by creativity and  strong knowledge rooted in the travel services.
  </div>

  <div class="network">
    <img src="../../assets/content/network.png" alt="Network Image">
  </div>

</div>
<!-- end of .about-us_wrapper -->
