<div class="page-header_wrapper">
  <div class="logo">
    <img src="../../assets/icons/logo.png" alt="Maita Travel Logo">
  </div>
  <!-- end of .logo -->

  <div class="languages">
    <ul>
      <li><a  class="selected" href="#">English</a></li>
      <li><a href="#">ﻰﺑﺮﻋ</a></li>
    </ul>
  </div>
  <!-- end of languages -->

  <nav class="main_menu
              main_flex__nowrap
              flex__jcontent_between
              flex__align-items_center">

    <div class="main_menu__left">
      <ul class="main_flex__nowrap
                flex__jcontent_start
                flex__align-items_center">
        <li><a href="#">about</a></li>
        <li><a href="#">story</a></li>
        <li><a href="#">mission</a></li>
      </ul>
    </div>
    <!-- end of .main_menu__left -->

    <div class="main_menu__right">
      <ul class="main_flex__nowrap
                flex__jcontent_end
                flex__align-items_center">
        <li><a href="#">services</a></li>
        <li><a href="#">portfolio</a></li>
        <li><a href="#">contact us</a></li>
      </ul>
    </div>
    <!-- end of .main_menu__right -->
  </nav>
  <!-- end of .main_menu -->
</div>
<!-- end of .wrapper -->
