// all dimensions calculated using total window width 1920px


$wsize-20px: 1.04vw;
$wsize-25px: 1.3vw;
$wsize-32px: 1.67vw;
$wsize-44px: 2.29vw;
$wsize-47px: 2.45vw;
$wsize-50px: 2.6vw;
$wsize-56px: 2.92vw;
$wsize-66px: 3.44vw;
$wsize-81px: 4.22vw;
$wsize-95px: 4.95vw;
$wsize-150px: 7.81vw;
$wsize-165px: 8.59vw;
$wsize-175px: 9.12vw;
$wsize-186px: 9.69vw;
$wsize-221px: 11.51vw;
$wsize-232px: 12.08vw;
$wsize-300px: 15.63vw;
$wsize-310px: 16.15vw;
$wsize-385px: 20.05vw;
$wsize-530px: 27.6vw;
$wsize-620px: 32.29vw;
$wsize-640px: 33.33vw;
$wsize-665px: 34.64vw;
$wsize-915px: 47.66vw;
$wsize-1050px: 54.69vw;
$wsize-1100px: 57.29vw;
$wsize-1217px: 63.39vw;
$wsize-1250px: 65.1vw;
$wsize-1550px: 80.73vw;
