<div class="our-services_wrapper
            add_flex__nowrap
            flex__jcontent_start
            flex__align-items_center">

  <h2 class="section_title">Our <span>Services</span></h2>

  <div class="section_remark">
    We provide all the services according to the
    needs of the traveler.
  </div>
  <!-- end of .section_remark -->

  <div class="section_content">

    <div class="section_content__item
                add_flex__nowrap
                flex__jcontent_end
                flex__align-items_center">

        <img src="../../assets/icons/camel_ride_icon.png" alt="Item Icon">
        <h3>camel ride</h3>
    </div>
    <!-- end of Item 1 -->

    <div class="section_content__item
                add_flex__nowrap
                flex__jcontent_end
                flex__align-items_center">
        <img src="../../assets/icons/bus_tickets_icon.png" alt="Item Icon">
        <h3>bus tickets</h3>
    </div>
    <!-- end of Item 2 -->

    <div class="section_content__item
                add_flex__nowrap
                flex__jcontent_end
                flex__align-items_center">
        <img src="../../assets/icons/airfares_icon.png" alt="Item Icon">
        <h3>airfares</h3>
    </div>
    <!-- end of Item 3 -->

    <div class="section_content__item
                add_flex__nowrap
                flex__jcontent_end
                flex__align-items_center">
        <img src="../../assets/icons/cruises_icon.png" alt="Item Icon">
        <h3>cruises</h3>
    </div>
    <!-- end of Item 4 -->

    <div class="section_content__item
                add_flex__nowrap
                flex__jcontent_end
                flex__align-items_center">
        <img src="../../assets/icons/hostels_icon.png" alt="Item Icon">
        <h3>hostels</h3>
    </div>
    <!-- end of Item 5 -->

    <div class="section_content__item
                add_flex__nowrap
                flex__jcontent_end
                flex__align-items_center">
        <img src="../../assets/icons/camps_icon.png" alt="Item Icon">
        <h3>camps</h3>
    </div>
    <!-- end of Item 6 -->

    <div class="section_content__item
                add_flex__nowrap
                flex__jcontent_end
                flex__align-items_center">
        <img src="../../assets/icons/hotels_icon.png" alt="Item Icon">
        <h3>hotels</h3>
    </div>
    <!-- end of Item 7 -->

    <div class="section_content__item
                add_flex__nowrap
                flex__jcontent_end
                flex__align-items_center">
        <img src="../../assets/icons/water_sports_icon.png" alt="Item Icon">
        <h3>water sports</h3>
    </div>
    <!-- end of Item 8 -->

    <div class="section_content__item
                add_flex__nowrap
                flex__jcontent_end
                flex__align-items_center">
        <img src="../../assets/icons/many_more_icon.png" alt="Item Icon">
        <h3>many more</h3>
    </div>
    <!-- end of Item 9 -->
  </div>

</div>
<!-- end of .our-services_wrapper -->
