@import "_settings.scss";
@import "_colors.scss";
@import "_sizes.scss";
@import "_fonts.scss";
@import "_flex_grid_classes.scss";

.our-services_wrapper {
  width: 100%;
  height: auto;
  padding: 0 $wsize-530px $wsize-300px;
  margin-top: -2.4vw;

  position: relative;

  .section_title {
    width: 100%;
    height: auto;
    margin-bottom: $wsize-81px;

    position: relative;
    // top: 16vw;
    z-index: 5;

    text-align: center;
  }
  // end of .section_title

  .section_remark {
    margin-left: 22vw;
    margin-bottom: $wsize-95px;
    padding-left: 0.5vw;

    border-left: 1px solid $bg-orange;
  }
  // end of .section_remark

  .section_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: $wsize-221px;
    grid-row-gap: 5vw;

    &__item {
      width: 10vw;

      align-self: end;

      img {
        margin: 0 auto;

      }

      h3 {

        font-size: $font-size-22px;
        font-weight: bold;
        line-height: 1.82;
        text-transform: uppercase;
        text-align: center;
        color: $font-blue;
      }
    }

  }
  // end of .section_content

}
// end of .our-services_wrapper
