<div class="our-story_wrapper">

  <div class="our-story_image">
    <img src="../../assets/content/our_story_image.png" alt="Our Story Image">

    <div class="network_staff">
      <div class="network_staff__item
                  item_1">
        <img src="../../assets/content/network_ceo.png" alt="Network Member Image">

        <div class="quote
                  quote_1">
          Thinks about strategy and collects the team together all the time
        </div>
      </div>
      <!-- end of .item_1 -->

      <div class="network_staff__item
                  item_2">
        <img src="../../assets/content/network_sales_01.png" alt="Network Member Image">

        <div class="quote
                  quote_2">
          If he could sell his own pants - someone possibly was
          wearing them already
        </div>
      </div>
      <!-- end of .item_2 -->

      <div class="network_staff__item
                  item_3">
        <img src="../../assets/content/network_project_director.png" alt="Network Member Image">

        <div class="quote
                  quote_3">
          Descrypts thoughts of CEO and turn them into certain action
        </div>
      </div>
      <!-- end of .item_3 -->

      <div class="network_staff__item
                  item_4">
        <img src="../../assets/content/network_financial_manager.png" alt="Network Member Image">

        <div class="quote
                  quote_4">
          Loves big numbers and to spend money
        </div>
      </div>
      <!-- end of .item_4 -->

      <div class="network_staff__item
                  item_5">
        <img src="../../assets/content/network_operations_manager.png" alt="Network Member Image">

        <div class="quote
                  quote_5">
          All operations this guy make are clean and neatly like
          at hospital
        </div>
      </div>
      <!-- end of .item_5 -->

      <div class="network_staff__item
                  item_6">
        <img src="../../assets/content/network_sales_02.png" alt="Network Member Image">

        <div class="quote
                  quote_6">
          Give him what to sell and he'll ask you if you have more
        </div>
      </div>
      <!-- end of .item_6 -->
    </div>
    <!-- end of .network_staff -->
  </div>

  <h2 class="section_title">Our <span>Story</span></h2>

  <div class="section_content">
    Alma’Aitah Family has reach a number of 60,000 members in Jordan, the strength of our tribe had driven us to give our name the slogan “ A GOOD NAME WORTH MORE THAN GOLD “. We deliver integrity, honesty,
    responsibility, dedication and business ethics.
  </div>

  <div class="section_content">
    <strong>Mo’Ath Alma’Aitah</strong> a young entrepreneur came up with the idea to adventure himself to open a location to sell tickets for people that want to go to Neweba, Sharm El Sheik and tours around the triangle, but at that particular time he only had $ 300 USD. Not a lot of money for a tour agency. But hope, faith and PMA were his bigger tools to make it happened and those $ 300 USD became just the ramp to increased 1000 % his money to $ 30,000 JD’s. By working hard and intelligent, he accomplished in short time his goal to focus in his new challenge.
  </div>

</div>
<!-- end of .our-story_wrapper -->
